.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  @include contentMedia($tablet) {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    justify-content: space-between;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  padding: 16px 0;
  @include contentMedia($tablet) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__nav-list {
  @media screen and (max-width: $tablet - 1px) {
    display: none;
  }
  display: flex;
  align-items: center;
  gap: 50px;
  @include contentMedia($tablet) {
    margin-left: 88px;
  }
  @include contentMedia($desktop) {
    margin-left: 93px;
  }
}

.nav-list__link {
  display: block;
  padding: 32px 0;
  @include font(500, 14, 16, 0.02em);
  @include animation(color);
  position: relative;
  color: color("main-color");

  &:hover,
  &:focus {
    color: color("accent-color");
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    transform: scaleX(0);
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: color("accent-color");
    @include animation(transform);
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}

.nav-list__link--current {
  color: color("accent-color");

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    transform: scaleX(1);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: color("accent-color");
  }
}

.header__contacts-list {
  @media screen and (max-width: $tablet - 1px) {
    display: none;
  }
  display: flex;
  margin-left: auto;
  @include contentMedia($tablet) {
    gap: 10px;
  }
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    flex-direction: column;
    align-items: flex-start;
  }
  @include contentMedia($desktop) {
    gap: 30px;
  }
}

.contacts-list__link {
  display: flex;
  align-items: center;
  color: currentColor;
  @include animation(color);
  @include font(500, 12, 14, 0.02em);
  @include contentMedia($desktop) {
    @include font(500, 14, 16, 0.02em);
  }

  &:hover,
  &:focus {
    color: color("accent-color");
    .contacts-list__icon {
      fill: currentColor;
    }
  }
}

.contacts-list__icon {
  margin-right: 8px;
  @include contentMedia($desktop) {
    margin-right: 10px;
  }
}
