// HERO
.hero {
  max-width: 1600px;
  padding: 118px 0;
  @extend %margin-centred;
  background-image: $bg-gradient, url(../../images/img-hero-480.jpg);
  @include bgcPixelize(480);
  @include contentMedia($tablet) {
    background-image: $bg-gradient, url(../../images/img-hero-768.jpg);
    @include bgcPixelize(768);
  }
  @include contentMedia($desktop) {
    padding: 200px 0;
    background-image: $bg-gradient, url(../../images/img-hero-1200.jpg);
    @include bgcPixelize(1200);
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: color("secondary-bgc");
  text-align: center;
}

.hero__title {
  max-width: 360px;
  margin-bottom: 30px;
  @extend %margin-centred;
  @include font(900, 26, 42, 0.06em);
  @include contentMedia($desktop) {
    max-width: 696px;
    @include font(900, 44, 60, 0.06em);
  }
  text-transform: uppercase;
  color: color("secondary-color");
}

.hero__button {
  @include contentMedia($desktop) {
    min-width: 216px;
  }
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @include animation(background-color);

  &:hover,
  &:focus {
    background-color: color("hover-accent-color");
  }
}

// BENEFITS

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  gap: $typical-indent;
}

.advantage-list__item {
  width: 100%;
  @include contentMedia($tablet) {
    @include size(2);
  }
  @include contentMedia($desktop) {
    @include size(4);
  }
}

.advantage-list__container {
  @extend %flex-centred;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: color("teams-bgc");
  border-radius: 4px;
}

.advantage-list__title {
  @media screen and (max-width: $tablet - 1px) {
    text-align: center;
  }
  margin-bottom: 10px;
  @include font(null, 14, 16, null);
  color: color("main-color");
}

.advantage-list__text {
  line-height: calc(24 / 14);
}

// WORKS

.works {
  padding-top: 0;
  @media screen and (max-width: 1199px) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}

.works-list {
  display: flex;
  gap: $typical-indent;
}

.works-list__item {
  position: relative;
  width: calc((100% - 2 * $typical-indent) / 3);
}

.works-list__text {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px 0;
  text-align: center;
  @include font(700, 14, 16, null);
  text-transform: uppercase;
  color: color("secondary-color");
  background-color: rgba(47, 48, 58, 0.8);
}

// TEAMS

.teams {
  background-color: color("teams-bgc");
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: $typical-indent;
}

.cards__item {
  width: 100%;
  @include contentMedia($tablet) {
    @include size(2);
  }
  @include contentMedia($desktop) {
    @include size(4);
  }
  background-color: color("secondary-color");
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.cards__container {
  padding: 30px 0;
  text-align: center;
}

.cards__title {
  margin-bottom: 10px;
  @include font(500, 16, 19, null);
  color: color("main-color");
}

.cards__text {
  margin-bottom: 16px;
  @include font(null, 16, 19, null);
}

// CLIENTS

.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: $typical-indent;
}

.clients-list__item {
  @include size(2);
  @include contentMedia($tablet) {
    @include size(3);
  }
  @include contentMedia($desktop) {
    @include size(6);
  }
  height: 92px;
}

.clients-list__link {
  width: 100%;
  height: 100%;
  border: 1px solid color("main-icon-color");
  border-radius: 4px;
  @extend %flex-centred;
  color: color("main-icon-color");
  @include animation(border-color);

  &:hover,
  &:focus {
    border-color: color("accent-color");

    .clients-list__icon {
      fill: color("accent-color");
    }
  }
}

.clients-list__icon {
  @include animation(fill);
}
