body {
  font-family: $main-font;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: color("main-text-color");
  background-color: color("main-bgc");

  &.modal-open {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  @include sizeMedia($mobile);
  @include sizeMedia($tablet);
  @include sizeMedia($desktop);
  padding-left: 15px;
  padding-right: 15px;
  @extend %margin-centred;
}

.section {
  padding: 60px 0;
  @include contentMedia($desktop) {
    padding: 94px 0;
  }
}

.icons {
  fill: currentColor;
}

.section-title {
  margin-bottom: 30px;

  @include font(null, 28, 33, null);
  @include contentMedia($desktop) {
    margin-bottom: 50px;
    @include font(null, 36, 42, null);
  }

  text-align: center;
  color: color("main-color");
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
