@mixin animation($type) {
  transition: $type $transition-duration-value $timing-function-value;
}

@mixin font($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs + px;
  line-height: $lh / $fs;
  letter-spacing: $ls;
}

@mixin size($count) {
  width: calc((100% - $typical-indent * ($count - 1)) / $count);
}

@mixin sizeMedia($viewSize) {
  @media screen and (min-width: $viewSize) {
    width: $viewSize;
  }
}

@mixin contentMedia($viewSize) {
  @media screen and (min-width: $viewSize) {
    @content;
  }
}

@mixin mwMedia($viewSize) {
  @media screen and (max-width: $viewSize) {
    @content;
  }
}

@mixin andMedia($minSize, $maxSize) {
  @media screen and (min-width: $minSize) and (max-width: $maxSize) {
    @content;
  }
}

@mixin bgcPixelize($size) {
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $bg-gradient, url(../images/img-hero-#{$size}@2x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: $bg-gradient, url(../images/img-hero-#{$size}@3x.jpg);
  }
}
