@mixin animation($type) {
  transition: $type $transition-duration-value $timing-function-value;
}

@mixin font($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs + px;
  line-height: $lh / $fs;
  letter-spacing: $ls;
}

@mixin size($count) {
  width: calc((100% - $typical-indent * ($count - 1)) / $count);
}

@mixin sizeMedia($viewSize) {
  @media screen and (min-width: $viewSize) {
    width: $viewSize;
  }
}

@mixin contentMedia($viewSize) {
  @media screen and (min-width: $viewSize) {
    @content;
  }
}
